<!doctype html>
<title>Microbrewery API</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Brew yourself a beer!</h1>
  <h2>First brewery available via API</h2>
  <h2>We proudly brew {{ batch_no }} batches </h2>
</div>
<div class="page_l">
  <h2> Usage: <h2>
  <h3> http://128.107.3.112:5000/brewme?x </h2>
  <h3> x - number of beers you want to brew </h3>
</div>
<div class="page_1">
<h2>
  <table>
	<tr>
		<th> Batch # </th>
		<th> Number in batch </th>
		<th> Beer type </th>
		<th> Beer ID </th>
	</tr>
	{% for entry in entries %}
	<tr>
		<td> {{ entry.beer_batch_number }} </td>
		<td> {{ entry.beer_number_in_batch }} </td>
		<td> {{ entry.beer_type }} </td>
		<td> {{ entry.beer_id }} </td>
	</tr>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
</h2>
</div>
  
